<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haoxi.shoes">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!--腾讯地图 SDK 要求的权限(开始)-->
    <!--访问网络获取地图服务-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--需要外部存储写权限用于保存地图缓存-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--获取 device id 辨别设备-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--获取日志读取权限，帮助我们提高地图 sdk 稳定性-->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!--腾讯地图 SDK 要求的权限(结束)-->

    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问WiFi状态，需要WiFi信息用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".base.ShoesApp"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:label,android:theme"
        >
        <meta-data
            android:name="TencentMapSDK"
            android:value="7NBBZ-K7WWO-N7CW2-SBEQ5-WFB2F-EQFGT"/>

        <activity android:name=".act.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".act.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".act.TrackActivity" android:screenOrientation="portrait"/>
        <activity android:name=".act.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".act.AffectActivity" android:screenOrientation="portrait"/>
        <activity android:name=".act.UpgradeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".act.PreventActivity" android:screenOrientation="portrait"/>
        <activity android:name=".act.PersonDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name=".act.EditShoesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".model.mine.PersonActivity" android:screenOrientation="portrait"/>
        <activity android:name=".act.GoalActivity" android:screenOrientation="portrait"/>
        <activity android:name=".act.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".act.AboutActivity" android:screenOrientation="portrait"/>

        <activity android:name=".bluetooth.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".bluetooth.LockManageActivity" android:screenOrientation="portrait"/>
        <service
            android:name=".bluetooth.BluetoothLeService"
            android:enabled="true" />
    </application>

</manifest>